.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: helvatica;
    font-weight: 500;
    line-height: 1.1;
    color: red;
}

@font-face {
  font-family: 'formula1';
  src: URL('www/fonts/Formula1-Regular.ttf') format('truetype');
}

.f1--m {
    font-family: F1;
    font-size: 20px;
    line-height: 24px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: seagreen;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.skin-green .sidebar-menu>li.active>a {
    border-left-color: goldenrod;
}


/* Dışarı Taşma Problemi için */




.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
    background-color: white;
    color: #3c8dbc;
}


.sidebar .component {
  max-height: calc(100vh - var(--offset) * 2);
}
